.copyright-text {
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
  color: var(--white-color);
}

form {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  height: 5rem;
  width: 50rem;
  border: 1px solid var(--white-color);
  outline: none;
  font-size: 2.3rem;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--black-color);
  color: var(--white-color);
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
  font-family: var(--primary-font);
}

input::placeholder {
  color: var(--gray-color);
  text-transform: capitalize;
  font-size: 2.3rem;
  font-family: var(--primary-font);
}

button {
  height: 5rem;
  width: 10rem;
  border: 1px solid var(--white-color);
  border-left: none;
  cursor: pointer;
  background-color: var(--green-color);
  color: var(--white-color);
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:disabled {
  background-color: var(--gray-color);
}
svg {
  font-size: 2.3rem;
}

.word-cards-container {
  padding: 2rem;
}

.container-title {
  margin-bottom: 1.5rem;
  color: var(--white-color);
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.title-span {
  color: var(--green-color);
}
.word-card {
  border-radius: 1rem;
  padding: 3rem;
  background-color: var(--black-light);
  margin-bottom: 2rem;
}
.card-title {
  margin-bottom: 1rem;
  color: var(--white-color);
}

.definitions-list {
  padding-left: 3rem;
}
.definition-container {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: var(--gray-color);
}
.example-container {
  padding: 0.2rem 1rem;
  border-left: 3px solid var(--green-color);
  font-style: italic;
  font-weight: 300;
  font-size: 1.55rem;
}
.error-message {
  color: var(--white-color);
  text-align: center;
  text-transform: capitalize;
}

.loader-container,
.error-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;
}
